<div class="row p-5">
    <button type="button" class="btn btn-default w-10" id="edit_form">Edit Row</button>
</div>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>CC Tag</th>
            <th>CRs</th>
            <th>Exp Rel Name</th>
            <th>Feature</th>
            <th>ID</th>
            <th>Program</th>
            <th>Rel Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <% _.forEach(tabdata, function(d){ %>
    <tr>
        <td></td>
        <td><%= d['CCTag']%></td>
        <td><%= d['CRs']%></td>
        <td><%= d['Ername']%></td>
        <td><%= d['Feature']%></td>
        <td><%= d['ID']%></td>
        <td><%= d['Program']%></td>
        <td><%= d['Rname']%></td>
        <td><%= d['Status']%></td>
    </tr>
    <%})%>
    <tbody>

    </tbody>
</table>